<div ngbDropdown #myDrop="ngbDropdown" class="d-block">
    <button class="btn btn-block btn-outline-primary btn-sm" id="dropdownForm1" ngbDropdownToggle>
        Изменить
    </button>
    <div class="my-2" ngbDropdownMenu aria-labelledby="dropdownForm1">
        <form [formGroup]="form" (ngSubmit)="onChangeWorker()" class="px-4 py-3" style="width: max-content;">

            <div class="form-group">
                <input formControlName="name" type="text" class="form-control" placeholder="Имя"
                    [ngClass]="{'is-invalid': form.get('name').touched && form.get('name').invalid}" />
            </div>

            <div class="form-group">
                <input formControlName="surname" type="text" class="form-control" placeholder="Фамилия"
                    [ngClass]="{'is-invalid': form.get('surname').touched && form.get('surname').invalid}" />
            </div>

            <div class="form-group">
                <input formControlName="patr" type="text" class="form-control" placeholder="Отчество"
                    [ngClass]="{'is-invalid': form.get('patr').touched && form.get('patr').invalid}" />
            </div>

            <div class="form-group">
                <input formControlName="birthday" type="date" class="form-control" placeholder="Дата рожд."
                    [ngClass]="{'is-invalid': form.get('birthday').touched && form.get('birthday').invalid}" />
            </div>

            <div class="form-group">
                <input formControlName="email" type="email" class="form-control" placeholder="email"
                    [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}" />
            </div>

            <div class="form-group">
                <input [textMask]="{mask: mask}" formControlName="number" type="text" class="form-control"
                    placeholder="Номер"
                    [ngClass]="{'is-invalid': form.get('number').touched && form.get('number').invalid}" />
            </div>

            <div class="form-group">
                <select formControlName="department" class="custom-select"
                    [ngClass]="{'is-invalid': form.get('department').touched && form.get('department').invalid}">
                    <option [ngValue]="myWorkerType.it">IT отдел</option>
                    <option [ngValue]="myWorkerType.sales">Отдел продаж</option>
                    <option [ngValue]="myWorkerType.delivery">Отдел доставки</option>
                    <option [ngValue]="myWorkerType.legal">Юридический отдел</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit"
                    [ngClass]="{'btn-outline-primary': form.valid, 'btn-outline-danger': !(form.valid)}"
                    class="btn btn-block btn-sm" (click)="myDrop.close()" [disabled]="!form.valid">
                    Изменить
                </button>
            </div>

        </form>
    </div>
</div>