<ng-container *ngIf="workers.length > 0">
  <div class="row">
    <div class="col-12">
      <h5>{{ title }}</h5>
      <table class="table">
        <thead>
          <tr>
            <th class="px-0 py-1" scope="col" [style.width]="'5%'">
              <button class="btn btn-block btn-light text-left" (click)="sort(attr.id)">#</button>
            </th>
            <th class="px-0 py-1" scope="col" [style.width]="'13%'">
              <button class="btn btn-block btn-light text-left" (click)="sort(attr.name)">Имя</button>
            </th>
            <th class="px-0 py-1" scope="col" [style.width]="'13%'">
              <button class="btn btn-block btn-light text-left" (click)="sort(attr.surname)">Фамилия</button>
            </th>
            <th class="px-0 py-1" scope="col">
              <button class="btn btn-block btn-light text-left" (click)="sort(attr.patr)">Отчество</button>
            </th>
            <th class="px-0 py-1" scope="col">
              <button class="btn btn-block btn-light text-left" (click)="sort(attr.birthday)">Г.р.</button>
            </th>
            <th class="px-0 py-1" scope="col">
              <button class="btn btn-block btn-light text-left" (click)="sort(attr.email)">Почта</button>
            </th>
            <th class="px-0 py-1" scope="col">
              <button class="btn btn-block btn-light text-left" (click)="sort(attr.number)">Номер</button>
            </th>
            <th scope="col" [style.width]="'200px'"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let worker of workersSorted">
            <th class="align-middle" scope="row">{{ worker.id }}</th>
            <td class="align-middle">{{ worker.name }}</td>
            <td class="align-middle">{{ worker.surname }}</td>
            <td class="align-middle">{{ worker.patr }}</td>
            <td class="align-middle">{{ worker.birthday | date }}</td>
            <td class="align-middle">{{ worker.email }}</td>
            <td class="align-middle">{{ worker.number }}</td>
            <td class="align-middle">
              <div class="row pr-1">
                <div class="col-lg-5 p-1">
                  <button class="btn btn-block btn-outline-danger btn-sm" (click)="onDeleteWorker(worker)">
                    Удалить
                  </button>
                </div>
                <div class="col-lg-7 p-1">
                  <app-change-worker (changeWorker)="onChangeWorker($event)" [worker]="worker"></app-change-worker>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>