<header class="bg-light mb-3">
    <nav class="navbar navbar-expand navbar-light container">
        <ul class="navbar-nav mb-1" style="align-items: baseline">
            <li class="nav-item mr-3">
                <a class="nav-link px-0 my-0 h6" style="font-size: 16px" [routerLink]="'/'">Сотрудники</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link px-0 my-0" style="font-size: 14px" [routerLink]="'/info'">Инфо</a>
            </li>
        </ul>
    </nav>
</header>