<div class="container mt-1 mb-5">
    <div class="row mb-3">
        <div class="col-12">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <app-addform-worker (addWorker)="onAddWorker($event)"></app-addform-worker>

    <div class="mb-3">
        <h2>Поиск</h2>
        <input type="text" class="form-control" placeholder="Начните вводить имя или фамилию" [(ngModel)]="search" />
    </div>
    <app-table-workers [title]="'IT отдел'" [workers]="getByType(myWorkerType.it) | search: search"
        (changeWorker)="onChangeWorker($event)" (deleteWorker)="onDeleteWorker($event)"></app-table-workers>
    <app-table-workers [title]="'Отдел продаж'" [workers]="getByType(myWorkerType.sales) | search: search"
        (changeWorker)="onChangeWorker($event)" (deleteWorker)="onDeleteWorker($event)"></app-table-workers>
    <app-table-workers [title]="'Отдел доставки'" [workers]="getByType(myWorkerType.delivery) | search: search"
        (changeWorker)="onChangeWorker($event)" (deleteWorker)="onDeleteWorker($event)"></app-table-workers>
    <app-table-workers [title]="'Юридический отдел'" [workers]="getByType(myWorkerType.legal) | search: search"
        (changeWorker)="onChangeWorker($event)" (deleteWorker)="onDeleteWorker($event)"></app-table-workers>
    <div [hidden]="(workers | search: search).length > 0" class="my-1 py-3 px-5 container">
        <mat-spinner></mat-spinner>
    </div>
</div>