<form [formGroup]="form" (ngSubmit)="onAddWorker()" class="col px-0 mb-3">

  <div class="row">
    <h3 class="col">Добавить сотрудника</h3>
  </div>

  <div class="row">

    <div class="col-sm-3 mb-3">
      <input formControlName="name" type="text" class="form-control" placeholder="Имя"
        [ngClass]="{'is-invalid': form.get('name').touched && form.get('name').invalid}" />
    </div>

    <div class="col-sm-3 mb-3">
      <input formControlName="surname" type="text" class="form-control" placeholder="Фамилия"
        [ngClass]="{'is-invalid': form.get('surname').touched && form.get('surname').invalid}" />
    </div>

    <div class="col-sm-3 mb-3">
      <input formControlName="patr" type="text" class="form-control" placeholder="Отчество"
        [ngClass]="{'is-invalid': form.get('patr').touched && form.get('patr').invalid}" />
    </div>

    <div class="col-sm-3 mb-3">
      <input formControlName="birthday" type="date" class="form-control" placeholder="Дата рожд."
        [ngClass]="{'is-invalid': form.get('birthday').touched && form.get('birthday').invalid}" />
    </div>

    <div class="col-sm-4 mb-3">
      <input formControlName="email" type="email" class="form-control" placeholder="email"
        [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}" />
    </div>

    <div class="col-sm-4 mb-3">
      <input [textMask]="{mask: mask}" formControlName="number" type="text" class="form-control" placeholder="Номер"
        [ngClass]="{'is-invalid': form.get('number').touched && form.get('number').invalid}" />
    </div>

    <div class="col-sm-4 mb-3">
      <select formControlName="department" class="custom-select"
        [ngClass]="{'is-invalid': form.get('department').touched && form.get('department').invalid}">
        <option [ngValue]="myWorkerType.it">IT отдел</option>
        <option [ngValue]="myWorkerType.sales">Отдел продаж</option>
        <option [ngValue]="myWorkerType.delivery">Отдел доставки</option>
        <option [ngValue]="myWorkerType.legal">Юридический отдел</option>
      </select>
    </div>

  </div>

  <div class="row mt-1">
    <div class="col mt-1 pt-1">
      <button type="submit" class="btn btn-outline-primary btn-sm" [disabled]="!form.valid">
        Добавить
      </button>
    </div>
  </div>

</form>